/* Reset some default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
}

/* Center the content horizontally and vertically */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Stack content vertically */
}

/* Style for each college item */
.college-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Display children in a row layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Vertically center children */
}

/* Style for college information */
.college-content {
  margin-bottom: 10px;
}

/* Style for the college image */
.college-image {
  max-width: 100%; /* Make the image responsive */
  max-height: 600px; /* Set maximum height for images */
  margin-top: 10px;
}

/* Style for the delete button */
.btn {
  margin-top: 10px;
}
.activities {
  font-size: 23px; /* Increase the font size to make activities text larger */
}



