<!DOCTYPE html>
<html>
<head>
    <title>Colleges</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to College Information Portal</h1>
        <ul class="college-list">
            {% for college in colleges %}
                <li class="college-item">
                    <h2 class="college-name {% if college.name == "AVANTHI'S ST. THERESSA ENGINEERING COLLEGE" %}maroon-text{% endif %}">{{ college.name }}</h2>
                    <p class="activities {% if college.activities == "HAPPY INDEPENDENCE DAY" %}green-text{% endif %}">{{ college.activities }}</p>
                    <div class="image-container">
                        {% if college.image_path %}
                            <img src="{{ url_for('static', filename='uploads/' + college.image_path) }}" alt="College Image" class="college-image">
                        {% endif %}
                        {% if college.image_path_2 %}
                            <img src="{{ url_for('static', filename='uploads/' + college.image_path_2) }}" alt="College Image 2" class="college-image">
                        {% endif %}
                        {% if college.image_path_3 %}
                            <img src="{{ url_for('static', filename='uploads/' + college.image_path_3) }}" alt="College Image 3" class="college-image">
                        {% endif %}
                    </div>
                    <div class="college-website">
                        {% if college.website_url %}
                            <a href="{{ college.website_url }}" target="_blank">Visit College Website</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
